
/*nav bar start */

.navbar{
  background-color:#ffcc00;
  overflow:hidden;
  height:63px;
}

.navbar a{
  float:left;
  display:block;
  color:#000;
  text-align:center;
  padding:14px 16px;
  text-decoration:none;
  font-size:17px;
}

.navbar ul{
  margin:8px 0 0 0;
  list-style:none;
}

.navbar a:hover{
  background-color:white;
  color:#000;
}

.side-nav{
  height:100%;
  width:0;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
  background-color:#111;
  opacity:0.9;
  overflow-x:hidden;
  padding-top:60px;
  transition:0.5s;
}

.side-nav a{
  padding:10px 10px 10px 30px;
  text-decoration:none;
  font-size:22px;
  color:#ccc;
  display:block;
  transition:0.3s;
}

.side-nav a:hover{
  color:#fff;
}

.side-nav .btn-close{
  position:absolute;
  top:0;
  right:22px;
  font-size:36px;
  margin-left:50px;
}

#main{
  transition:margin-left 0.5s;
  padding:20px;
  overflow:hidden;
  width:100%;
}

@media(max-width:568px){
  .navbar-nav{display:none}
}

@media(min-width:568px){
  /*.open-slide{display:none}*/
}
/*nav bar slut */




/* Style på indhold indholdsfortegnelse og*/
*{
    box-sizing: border-box;
}

a {
	color: #ffffcc;
	text-decoration: none;
}
	a:hover,
	a.selected {
		color: #ffcc00;
	}

.sociales {
	text-align: center;
    }

#emner li{
    overflow:hidden; 
}

#emner{
    background: #222;
    padding: 20px;
    overflow:hidden; 
}

section:after{
    content: "";
}

header{
    background-color: #ffcc00;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: black;
}
/* slutning på indhold indholdsfortegnelsene og starten på indholdet */

body{	
background-color: #222;
}


footer{
    background-color: #ffcc00;
    padding: 10px;
    text-align: center;
    color: black;
}


h1{
    color: #ffcc00;
    text-align: center;
				}

p{
    margin: 10px 40px;
    font-weight: normal;
    line-height: 22px;
    color: #ffffcc;
				}

h3{
    margin: 10px 40px;
    font-weight: normal;
    line-height: 22px;
    text-shadow: #000 1px 1px 2px;
    color: #ffcc00;
				}

img{
    margin: 10px 50px;
    font-weight: normal;
    align-content: center;
    text-align: center;
    align-items: center;
				}


#main h1{
    color: black;
        
}

li {
    font-size: 14px;
    margin: 10px 40px;
    font-weight: normal;
    line-height: 22px;
    color: #ffffcc;
}

iframe{
     margin: 10px 60px;
    font-weight: normal;
    align-content: center;
    text-align: center;
    align-items: center;
    
}#iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}

#iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 60%;
  height: 60%;
}
/* slutning på iframe  */




#mitgrid {
  display: grid;
    width: 100%;
    grid-template-columns: 1fr, 1fr;
    grid-template-areas:
        "a a"
        "b b"
        "c c" 
        "d d"
        "e e"
        "f f"
        "h h" 
        "i i"
        "j j"
        "k k"
        "l l"
        "m m"
        "n n"
        "o o"
        "p p"
        "q q"
        "r r"
        "s s"
        "t t"
        "v v"
        "w w";
}


#main {
    grid-area: a;
    background-color: #ffcc00;
    padding: 30px;
    text-align: center;
    color: #111;
}

#emner {
    grid-area: b;  
}


#kommunikation {
    grid-area: c;
}

#kommub {
    grid-area: d;
}


#kvantitativ{
    grid-area: e;
    
}

#Kvalitativ {
    grid-area: f; 
}


#præsentationsteknik {
    grid-area: h;
}

#præsenb{
    grid-area: i;
}

#paradigme{
    grid-area: j;
}

#parab{
    grid-area: l;
}

#tekstproduktion{
    grid-area: m;
}

#tekst{
    grid-area: n;
}

#Business{
    grid-area: o
}

#facer{
    grid-area: p;
}

#busb{
    grid-area: q;
}

#thinking{
    grid-area: r;
}

#design{
    grid-area: s;
}

#designb{
    grid-area: t;
}

#thinkb{
    grid-area: v;
}

#refleksion{
    grid-area: w;
}

@media screen and (min-width:700px){

    #mitgrid {
    display: grid;
    grid-gap: 30fr;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr;
    grid-template-areas:
        "a a a a"
        "b b b b"
        "c c d d"
        "f f e e"
        "h h i i"
        "j j l l"
        "m m n n"
        "o o p p"
        "q q q q"
        "r r s s"
        "t t v v"
        "w w w w";
        }
        
#main, #enmer {
 height: 30vh;
}

    .iframe{
        width: 200%;
    }

#kommunikation, #kommub {
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
    
    #kommub{
        margin-top: 70px;
    }


#kvantitativ, #Kvalitativ {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
}


#præsentationsteknik, #præsenb {
        height: 100vh;
       display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
}
    
    
#paradigme, #parab{
        height: 120vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
    
#parab{
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
#tekstproduktion, #tekst{
    height: 80vh;
   display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
    
#Business, #facer{
     height: 60vh;
       display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

#thinking, #design{
     height: 40vh;
       display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
    

#designb, #thinkb{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    
#refleksion{
   90vh;
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

#busb{
   display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    padding-bottom: 280px;
}
    }
        