body{	
background-color: #222;
}

h2{
        margin: 75px;
        max-width: 500px;
        margin: 0 auto 20px;
}

/*nav bar start */

.navbar{
  background-color:#ffcc00;
  overflow:hidden;
  height:63px;
}

.navbar a{
  float:left;
  display:block;
  color:#000;
  text-align:center;
  padding:14px 16px;
  text-decoration:none;
  font-size:17px;
}

.navbar ul{
  margin:8px 0 0 0;
  list-style:none;
}

.navbar a:hover{
  background-color:#222;
  color:#000;
}

.side-nav{
  height:100%;
  width:0;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
  background-color:#111;
  opacity:0.9;
  overflow-x:hidden;
  padding-top:60px;
  transition:0.5s;
}

.side-nav a{
  padding:10px 10px 10px 30px;
  text-decoration:none;
  font-size:22px;
  color:#ccc;
  display:block;
  transition:0.3s;
}

.side-nav a:hover{
  color:#fff;
}

.side-nav .btn-close{
  position:absolute;
  top:0;
  right:22px;
  font-size:36px;
  margin-left:50px;
}

#main{
  transition:margin-left 0.5s;
  padding:20px;
  overflow:hidden;
  width:100%;
}

@media(max-width:568px){
  .navbar-nav{display:none}
}

@media(min-width:568px){
  /*.open-slide{display:none}*/
}
/*nav bar slut */




/* Style the header */
*{
    box-sizing: border-box;
}

a {
	color: #ffffcc;
	text-decoration: none;
}
	a:hover,
	a.selected {
		color: #ffcc00;
	}

.sociales {
	text-align: center;
    }

#emner li{
    overflow:hidden; 
}

header{
    background-color: #ffcc00;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: black;
}

footer{
    background-color: #ffcc00;
    padding: 10px;
    text-align: center;
    color: black;
}




#indhold section.selected {
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
    }



#emner{
    background: #222;
    padding: 20px;
    overflow:hidden; 
}

section:after{
    content: "";
}


h1{
    color: #ffcc00;
    text-align: center;
    text-shadow: #000 1px 1px 2px;
				}

p{
    margin: 10px 40px;
    font-weight: normal;
    line-height: 22px;
    text-shadow: #000 1px 1px 2px;
    color: #ffffcc;
				}

h3{
    margin: 10px 40px;
    font-weight: normal;
    line-height: 22px;
    text-shadow: #000 1px 1px 2px;
    color: #ffcc00;
				}

img{
    margin: 10px 20px;
    font-weight: normal;
    align-content: center;
    text-align: center;
    align-items: center;
				}

iframe{
     margin: 10px 20px;
    font-weight: normal;
    align-content: center;
    text-align: center;
    align-items: center;
    
}

#main h1{
    color: black;
        
}


#mitgrid {
  display: grid;
    width: 100%;
    grid-template-columns: 1fr, 1fr;
    grid-template-areas:
        "a a"
        "b b"
        "c c" 
        "d d"
        "e e"
        "f f"
        "g g"
        "h h" 
        "i i"
        "j j"
        "k k"
        "l l"
        "m m"
        "n n"
        "o o";
}


#main {
    grid-area: a;
    background-color: #ffcc00;
    padding: 30px;
    text-align: center;
    color: #111;
}

#emner {
    grid-area: b;  
}


#html {
    grid-area: c;
}

#hb {
    grid-area: d;
}


#css{
    grid-area: e;
    
}

#cssb {
    grid-area: f; 
}


#grid {
    grid-area: g;
}


#gridb {
    grid-area: h;
}

#responsiv{
    grid-area: i;
}

#resb{
    grid-area: j;
}

#php{
    grid-area: k;
}

#phpb{
    grid-area: l;
}

#onepage{
    grid-area: m;
}

#oneb{
    grid-area: n;
}

#refleksion{
    grid-area: o;
}


@media screen and (min-width:700px){

    #mitgrid {
    display: grid;
    grid-gap: 30fr;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr;
    grid-template-areas:
        "a a a a"
        "b b b b"
        "c c d d"
        "f f e e"
        "g g h h"
        "j j i i"
        "l l m m"
        "n n n n";
        }
        
#main, #enmer {
 height: 30vh;
}

#html, #hb {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}


#css, #cssb {
        height: 100vh;
         display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}


#grid, #gridb  {
        height: 100vh;
         display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
    
    
#responsiv, #resb{
        height: 100vh;
         display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
    
#php, #phpb{
    height: 100vh;
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}   
    
#onepage, #oneb{
    height: 100vh;
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}   

#refleksion{
   90vh;
     display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

        
        }