
/*nav bar start */

.navbar{
  background-color:#ffcc00;
  overflow:hidden;
  height:63px;
}

.navbar a{
  float:left;
  display:block;
  color:#000;
  text-align:center;
  padding:14px 16px;
  text-decoration:none;
  font-size:17px;
}

.navbar ul{
  margin:8px 0 0 0;
  list-style:none;
}

.navbar a:hover{
  background-color:#fff;
  color:#000;
}

.side-nav{
  height:100%;
  width:0;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
  background-color:#111;
  opacity:0.9;
  overflow-x:hidden;
  padding-top:60px;
  transition:0.5s;
}

.side-nav a{
  padding:10px 10px 10px 30px;
  text-decoration:none;
  font-size:22px;
  color:#ccc;
  display:block;
  transition:0.3s;
}

.side-nav a:hover{
  color:#fff;
}

.side-nav .btn-close{
  position:absolute;
  top:0;
  right:22px;
  font-size:36px;
  margin-left:50px;
}

#main{
  transition:margin-left 0.5s;
  padding:20px;
  overflow:hidden;
  width:100%;
}

@media(max-width:568px){
  .navbar-nav{display:none}
}

@media(min-width:568px){
  /*.open-slide{display:none}*/
}
/*nav bar slut */



*{
    box-sizing: border-box;
}

a {
	color: #ffffcc;
	text-decoration: none;
}
	a:hover;
	a.selected {
		color: #ffcc00;
	}

.sociales {
	text-align: center;
    }





footer{
    background-color: #ffcc00;
    text-align: center;
    color: black;
}

body {
	background-color: #222;
	font-family: Georgia, serif;
    overflow-x: hidden;
}

h1{
    color: white;
    font-size: 150%;
    text-align: center;
    text-shadow: #000 1px 1px 2px;
				}

p{
    font-size: 14px;
    margin: 10px 40px;
    font-weight: normal;
    line-height: 22px;
    text-shadow: #000 1px 1px 2px;
    color: #ffffcc;
				}



#mitgrid {
        display: grid;
        grid-gap: 10fr;
        grid-gap: 80px;
        grid-template-columns: 1fr, 1fr, 1fr;
        grid-template-areas:
            "a a a"
            ". b ."
            ". c ."
            ". d ."
            ". e ."
            ". f ."
            "g g g"
    }

#main{
    grid-area: a;
    background-color: beige;
    height: 75vh;
    background-size: cover;
}

#om{
    grid-area: b;
    height: 10vh;
    text-align: center;
    padding-bottom: 30px;
}

#program{
    grid-area: c;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

#design{
    grid-area: d;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    
}

#webudvikling{
    grid-area: e;
    background-color: red;
    border-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

#struktur{
    grid-area: f;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

footer{
    grid-area: g;
    text-align: center;
}


@media screen and (min-width:700px){

        #mitgrid {
            display: grid;
            grid-gap: 50px;
            grid-template-columns: 1fr, 1fr, 1fr, 1fr;
            grid-template-areas:
            "a a a a"
            ". b b ."
            ". c d ."
            ". e f ."
            ". g g .";
        }

